<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <title>image_bot</title>
      <style>
         img {
         width: 300px;
         padding: 5px;
         }
         .button {
         border: 1px solid grey;
         padding: 5px 10px;
         cursor: pointer;
         }
         p.example {
         display: flex;
         }
      </style>
   </head>
   <body>
      <h1>Бот для получения изображений</h1>
      <article>
         <header>
            <h3>Вступление</h3>
         </header>
         <p>
            На даннай странице по запросу можно получить случайную картинку из
            альбома социальной сети Вконтакте.
         </p>
         <p>
            Основная идея была взята из моего чат бота. GET запросы с этой страницы
            обрабатываются на стороне сервера, там же происходит работа с API VK.
            Это сделано для того, чтобы не светить пользовательским токеном на стороне
            клиента.
         </p>
      </article>
      <article>
         <header>
            <h3>Использование</h3>
         </header>
         <p>
            Нужно ввести в форму два числа, которые являются идентификатором владельца
            альбома owner_id и идентификатором самого альбома album_id,
            после чего отправить форму нажатием на кнопку.
         </p>
         <p class="example">
            Некоторые примеры пар значений:
            <button type="button" id="b1" onclick="choose(this)" class="button">Пример 1</button>
            <button type="button" id="b2" onclick="choose(this)" class="button">Пример 2</button>
            <button type="button" id="b3" onclick="choose(this)" class="button">Пример 3</button>
         </p>
      </article>
      <h3>Испытать</h3>
      <p>
         <label for="owner_id">Owner_id:</label>
         <input type="text" id="owner_id">
      </p>
      <p>
         <label for="album_id">Album_id:</label>
         <input type="text" id="album_id">
      </p>
      <button id="getPhoto" type="submit">Отправить</button>
      <p id="demo"></p>
      <img id="img" src="">
      <script>
         "use strict";
         async function getPhoto() {
             var owner_id, album_id, text;
             owner_id = document.getElementById("owner_id").value;
             album_id = document.getElementById("album_id").value;
             try {
               const response = await fetch("http://195.133.145.132:5000/get/owner_id="+owner_id+"&album_id="+album_id);
               const data = await response.json();
               if (data["img_url"] != "None") {
                 document.getElementById("demo").innerHTML = "";
                 document.getElementById("img").src = data["img_url"];
               }
               else {
                 document.getElementById("img").src = ""
                 document.getElementById("demo").innerHTML = "Неверные параметры";
               }


             } catch (err) {
               console.error(err);
             }
         }

         function choose(identifier) {
           var owner_id, album_id;
           if (identifier.id == "b1") {
             owner_id = -203565062;
             album_id = 278506349;
           } else if (identifier.id == "b2") {
             owner_id = -114610088;
             album_id = 230014207;
           }
           else {
             owner_id = -214276564;
             album_id = 283391143;
           }
           document.getElementById("owner_id").value = owner_id;
           document.getElementById("album_id").value = album_id;
          }
           document.getElementById("getPhoto")
         .addEventListener("click", () =>{
             getPhoto()
             .then((response) =>
                {console.log("success");})
            .catch((error)   =>
                {console.error(error)});
         })
      </script>
   </body>
</html>
